* {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    a {
        text-decoration: none;
        color: #525252;
        margin-right: 10px;
        font-size: 25px;
    }
    h1 {
        text-align: center;
        font-size: 46px;
        margin-top: 10px;
    }
}

/* Navigation */
.nav {
    background-color: #525252;
    padding: 40px;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #525252;
    p {
        font-size: 15px;
        margin-bottom: 15px;
    }
}